<div class="contact__item">
  <div class="contact__zalo">
    <a
      href="https://zalo.me/0967524995"
      onclick="handleClickButton('zalo')"
      target="_blank"
    >
      <img
        src="https://datxenhanh999.pro.vn/assets/image/icon/zalo.svg"
        alt="zalo"
        class="contact__icon"
      />
    </a>
  </div>
</div>
<div class="contact__item">
  <div class="contact__phone">
    <a
      href="tel:0967524995"
      target="_blank"
      onclick="handleClickButton('numberphone')"
    >
      <img
        src="https://datxenhanh999.pro.vn/assets/image/icon/phone.svg"
        alt=""
        class="contact__icon"
      />
    </a>
  </div>
</div>
