<div class="contact__item d-md-none">
  <div class="contact__zalo">
    <a
      href="tel:0967524995"
      onclick="return gtag_report_conversion('tel:0967524995');"
    >
      <img
        src="https://xegrabdongnai.pro.vn/assets/image/icon/zalo.svg"
        alt="zalo"
        class="contact__icon"
      />
    </a>
  </div>
</div>
<div class="contact__item d-none d-md-block">
  <div class="contact__zalo">
    <a
      href="tel:0967524995"
      onclick="return gtag_report_conversion('tel:0967524995');"
    >
      <img
        src="https://xegrabdongnai.pro.vn/assets/image/icon/zalo.svg"
        alt="zalo"
        class="contact__icon"
      />
    </a>
  </div>
</div>
<div class="contact__item">
  <div class="contact__phone">
    <a
      href="tel:0967524995"
      onclick="return gtag_report_conversion('tel:0967524995');"
    >
      <img
        src="https://xegrabdongnai.pro.vn/assets/image/icon/phone.svg"
        alt=""
        class="contact__icon"
      />
    </a>
  </div>
</div>
