<div class="container">
  <div class="footer__inner">
    <div class="row gy-lg-3">
      <div class="col-4 col-lg-12">
        <a href="/" class="footer__logo">
          <div class="footer__logo-inner">
            <div class="footer__logo-icon-wrap">
              <img
                src="/assets/image/images.png"
                alt="logo icon"
                class="footer__logo-icon"
              />
            </div>
            <h2 class="footer__logo-name nametitle"></h2>
          </div>
        </a>
        <p class="footer__desc">Đặt Xe Grab Nhanh Chóng Giá Rẻ</p>
      </div>
      <div class="col-4 col-lg-12">
        <ul class="footer__list">
          <li class="footer__item text--bold text--lagre">
            CTY VẬN TẢI <span class="name"></span>
          </li>
          <li class="footer__item text--bold text--lagre">
            Đại Diện CTY:<span class="name"></span>
          </li>
          <li class="footer__item">Địa chỉ:<a class="address"></a></li>
          <li class="footer__item">Email:<a class="email"></a></li>
          <li class="footer__item">Số Điện Thoại:<a class="phone"></a></li>
        </ul>
      </div>
      <div class="col-4 col-lg-12">
        <ul class="footer__list">
          <li class="footer__item text--bold text--lagre">LIÊN KẾT NHANH</li>
          <li class="footer__item">Bài viết nổi bật</li>
          <li class="footer__item">
            <a href="/chinh-sach-bao-mat.html">Chính sách bảo mật</a>
          </li>
          <li class="footer__item">
            <a href="/ve-chung-toi.html">Về chúng tôi</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="coppyright">
      <p>
        © 2010 - 2025 . Ban quyen nay thuoc ve <span class="sitename"></span>
      </p>
    </div>
  </div>
</div>
